@model Fakturisanje.Models.InvoiceModel
@{
    ViewBag.Title = "Create invoice";
}

@if (Session["user"] == null)
{
    <h3>Morate biti ulogovani.</h3>
    <h4><a href="~/Account/Login">Povratak na stranicu za logovanje.</a></h4>
}
else
{
    <section class="invoice">
        <h3>@TempData["error"]</h3>
        @using (Html.BeginForm("Create", "Invoice", FormMethod.Post))
        {
            <div class="invoice-heading">
                <div class="invoice-no">
                    <div class="form-group">
                        @Html.LabelFor(m => m.DocumentId, "Broj dokumenta")
                        @Html.TextBoxFor(m => m.DocumentId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.DocumentId)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.InvoiceId, "Broj fakture")
                        @Html.TextBoxFor(m => m.InvoiceId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.InvoiceId)
                    </div>
                </div>
            </div>
            <hr />
            <input type="submit" value="Napravi fakturu" class="btn btn-default" />
        }
    </section>
}