@model Fakturisanje.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-4 login-form">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    <label class="error">@ViewBag.Error</label>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Username, "Korisničko ime")
                        <br />
                        @Html.TextBoxFor(m => m.Username, new {@class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, "Lozinka")
                        <br />
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    <input type="submit" value="Prijava" class="btn btn-default" />
                }
            </div>
        </div>
    </div>
</section>

